{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}

 {% block stylesheets %}
<style>

body{
    background-color: #faf8f7;
}



h1, h3{
    color: #f00d59 !important;
    font-family: 'Nunito', sans-serif; 
}

h4{
    color: #78072c;
}

h2, h5{
    color: #63929c ;
    }
    
label{
    color: #63929c;
    font-weight: bold;
} 

</style>

{% endblock %}

{% block body %}
<section class="container py-5">

    <h1 class="text-center mt-3 mb-4 font-weight-normal">Mot de passe oublié <i class="fas fa-question"></i></h1>
    <p class="text-center fst-italic mb-0">Introduisez votre adresse mail pour demander <u>un nouveau mot de passe</u>.</p>
    <p class="text-center fst-italic mb-5"><u>Un lien de reinitialisation</u> vous sera envoyé sur votre adresse email</p>
    <div class="text-center mx-auto w-50"> 
    
          {% for level, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ level }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}

{{ form_start(emailForm) }}
    
    {{ form_row(emailForm.email,{attr:{'class':'form-control mt-3'}}) }}
        <p class="text-start text-secondary fst-italic">Veuillez renseigner votre adresse email.</p>
    {{ form_row(emailForm.envoyer, {attr:{'class': 'btn btn-lg btn-outline-secondary mt-3'}}) }}
        
{{ form_end(emailForm) }}

</section>
{% endblock %}
