{% extends 'base.html.twig' %}

{% block title %}Annuaire: {{ user.firstname }} {{ user.lastname }} {% endblock %}

{% block stylesheets %}
<style>
                
        
        body{
            font-family: 'Nunito', sans-serif;
            background-color: #faf8f7;
        } 
        
        h1{
            color: #f00d59 !important;
            font-family: 'Nunito', sans-serif; 
        }

        h2{
            color: #f00d59 !important;
            font-family: 'Nunito', sans-serif; 
        }

        h3{
            color: #63929c ;
        }

        
        .profile-pic {
            max-width: 100%;
            height: auto;
            min-width: 142px;
            min-height: 142px;
            max-width: 144px;
            max-height: 144px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        
        .circle {
            border-radius: 50%;
            background-color: #D0D3D4;
            overflow: hidden;
            width: 150px;
            height: 150px;
            border: 6px solid rgba(236, 236, 236, 0.7);
            position: relative;
            left: 50%;
            transition: all .3s;
        }
        

</style>

{% endblock %}

{% block body %}

<section class="mt-5 container">

<div class="card text-center">
  <div class="card-header d-flex text-center align-items-center">
        <div class="col-3 p-2">
            <div class="circle">
                <img class="profile-pic" src="{{ user.getPhoto() }}" >
            </div>
        </div>
        <div class="col-6 mt-4 text-center">
            <h1 class="fw-bold">{{ user.firstname }} <span class="text-uppercase"> {{ user.lastname }} </span></h1>
            <h2 >{{ user.role.name }}</h2>
        </div>
  </div>
  <div class="card-body">
  <ul>
    <h3 class="text-decoration-underline mb-2 card-title">Informations :</h3>
    <p><i class="text-secondary fas fa-briefcase"></i> Fonction occupée  : {{ user.status }}</p>

    <p> </p>
    <p><i class="text-secondary fas fa-user-alt"></i> {{ user.grade.name }}</p>

<div class="text-center">
    <h3 class="text-decoration-underline mb-3 card-title">Coordonnées :</h3>

    <p><i class="fs-4 text-primary fas fa-phone-alt"></i> {{ user.phonenumber }}</p>
    <p><i class="fs-4 text-success fas fa-mobile-alt"></i> {{ user.mobilenumber }}</p>
    <p><i class="fs-4 text-danger fas fa-map-marker-alt"></i> {{ user.structure }}</p>
    <p><i class="fs-4 text-secondary far fa-building"></i> {{ user.floor }}</p>
</div>    
 </ul> 
    <a href="{{path('update_directory_controller', {user: (user.id)} )}}" class="mt-4 me-3 btn btn-info text-light">Modifier le contact</a>
    <a href="{{path('delete_directory_controller', {user: (user.id)} )}}" class="mt-4 ms-3 btn btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer ce contact ?')">Supprimer le contact</a>
 </div>
</div>
</section>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

                var readURL = function(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.profile-pic').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $(".file-upload").on('change', function(){
                    readURL(this);
                });
                $(".upload-button").on("click", function () {
                $(".file-upload").click();
            });
        });
    </script>
{% endblock %}