{% extends 'base.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block stylesheets %}
    <style>

        body{
            background-color: #faf8f7;
        }

        h1, h3{
            color: #f00d59 !important;
            font-family: 'Nunito', sans-serif; 
        }
        h4{
            color: #78072c;
        }

        h2, h5{
            color: #63929c ;
        }

        .name{
            color: #63929c ;
        }
        
        .profile-pic {
            max-width: 100%;
            height: auto;
            min-width: 92px;
            min-height: 92px;
            max-width: 94px;
            max-height: 94px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        
        .card-pic {
            background-color: #D0D3D4;
            border-right: 1px solid#D7DBDD;
            border-radius: 8px 0px 0px 8px;
        }

        .circle {
            border-radius: 50%;
            overflow: hidden;
            width: 100px;
            height: 100px;
            border: 6px solid rgba(236, 236, 236, 0.7);
            position: relative;
        transition: all .3s;
        }
        

</style>
{% endblock %}

{% block body %}

<section class="container d-flex justify-content-center pt-3">
    <div class="w-100 ">
    {# Div message flash #}
        <div class="text-center">
            {% for level, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ level }}">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

    <h1 class="text-center mt-5">Annuaire <i class="fas fa-address-book"></i></h1>
    <h2 class="text-center mb-3" >Liste des personnes présentes dans l'annuaire:</h2>
    <p class="text-center"><a class="btn btn-lg btn-secondary m-3" href="{{path('add_directory_controller')}}">Ajoutez un contact <i class="fas fa-user-plus"></i></a></p>

    {% include("directories/partials/navBarDirectory.html.twig") %}

    <h2 class="text-center py-3 my-3" >Trouvez un contact selon son rôle :</h2>

    {% include("directories/partials/navBarRole.html.twig") %}


            <div class="d-flex row justify-content-center flex-wrap">
    {% for user in user %}  
                <div class="user row m-3 rounded" style="max-width: 500px; min-width: 300px;">

                    <div class="col-3 p-2 card-pic">
                        <div class="circle">
                {% if user.photo is empty %}
                    <img class="profile-pic" src="\asset\images\Photos\Pasdephoto.jpeg" >
                {% else %}
                    <img class="profile-pic" src="{{ user.photo }}" >
                {% endif %}
                        </div>
                    </div>

                    <div class="col-9 p-2 bg-white rounded">
                        <h3 class="fw-bold name text-center pt-2">{{ user.firstname }} {{ user.lastname }} </h3>
                        <h4 class="directory text-center">{{ user.directory.name }}</h4>
                        <h5 class="role text-center pb-3">{{ user.role.name }}</h5>
                        <p class="text-secondary status"><i class="fas fa-briefcase"></i> {{ user.status }}</p>
                        <p class="text-secondary grade mb-0"><i class="text-secondary fas fa-user-alt"></i> {{ user.grade.name }}</p>
                        <p class="text-end mb-0"><a class=" btn btn-outline-secondary" href="{{path('details_directory_controller', {user: (user.id)} )}}">Détails</a></p>
                    </div>

                </div>  
            
    {% endfor %}
    </div>
            </div>

</section>
{% endblock %}
