{% extends 'base.html.twig' %}

{% block title %}Modification du profil: {{ user.firstname }} {{ user.lastname }} {% endblock %}

{% block stylesheets %}
<style>
                
        
        body{
            font-family: 'Nunito', sans-serif;
            background-color: #faf8f7;
        } 

        h1{
            color: #f00d59;
        }

        h2{
            color: #63929c;
        }

        label{
            color: #63929c;
            font-weight: bold;
        } 
         
        .optionnel{
            font-size: 0.7em;
        }
        
        .profile-pic {
            max-width: 100%;
            height: auto;
            min-width: 142px;
            min-height: 142px;
            max-width: 144px;
            max-height: 144px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        
        .circle {
            border-radius: 50%;
            background-color: #D0D3D4;
            overflow: hidden;
            width: 150px;
            height: 150px;
            border: 6px solid rgba(236, 236, 236, 0.7);
            position: relative;
            left: 50%;
            transition: all .3s;
        }
        

</style>

{% endblock %}

{% block body %}

<section class="mt-5 container">



<div class="card text-center">
  <div class="card-header d-flex text-center align-items-center">
        <div class="col-3 p-2">
            <div class="circle">
                {% if user.photo is empty %}

                    <img class="profile-pic" src="\asset\images\Photos\Pasdephoto.jpeg" >
                {% else %}
                    <img class="profile-pic" src="{{ user.photo }}" >
                {% endif %}
            </div>
        </div>
        <h1 class="col-6 mt-5 text-center fw-bold">{{ user.firstname }} <span class="text-uppercase"> {{ user.lastname }} </span></h1>

  </div>
  <div class="card-body">
    <h2 class="text-decoration-underline mt-2 mb-3">Modifiez le contact</h2>
    <p class="fst-italic">Tous les champs du formulaire sont obligatoires.</p>

          {% for level, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ level }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
        
  <form  method="POST" enctype="multipart/form-data">
        {# Start Row #}
            <div class="row mb-3">
                <div class="col-6 form-group">
                    <label for="firstname" class="text-uppercase">Prénom : </label>
                    <input type="text" name="firstname" id="firstname" class="form-control mb-3" placeholder="Votre prénom" value="{{ user.firstname }}">
                </div>
                <div class="col-6 form-group">
                    <label for="lastname" class="text-uppercase">Nom : </label>
                    <input type="text" name="lastname" id="lastname" class="form-control mb-3" placeholder="Votre nom" value="{{ user.lastname }}">
                </div>
            </div>
        {# End Row #}
            <div class="row">
                <div class="form-group mb-3">
                    <label for="profession" class="text-uppercase">Fonction occupée : </label>
                <input type="text" name="profession" class="form-control mb-3" id="profession" placeholder="Votre fonction" value="{{ user.profession }}">
                </div>
            </div>
        {# Start Row #}
            <div class="row mb-3">
                <div class="col-6  form-group">
                    <label for="mobilenumber" class="text-uppercase">Numéro de téléphone portable : </label>
                    <input type="number" name="mobilenumber" id="mobilenumber" class="form-control mb-3" placeholder="Votre numéro de téléphone portable" value="{{ user.mobilenumber }}">
                </div>
                <div class="col-6 form-group">
                    <label for="phonenumber" class="text-uppercase">Numéro de téléphone fixe : </label>
                    <input type="number" name="phonenumber" id="phonenumber" class="form-control mb-3" placeholder="Numéro de téléphone fixe" value="{{ user.phonenumber }}">
                </div>
            </div>
        {# End Row #} 

        {# Start Row #}
            <div class="row mb-3">
                <div class="col-6 form-groupe">
                    <label for="structure" class="text-uppercase">Bâtiment : </label>
                    <input type="text" name="structure" id="structure" class="form-control mb-3" placeholder="Votre bâtiment" value="{{ user.structure }}">
                </div>
                <div class="col-6 form-group">
                    <label for="floor" class="text-uppercase">Etage : <span class="optionnel fst-italic">(Optionnel)</span></label>
                    <input type="text" name="floor" class="form-control mb-3" id="floor" placeholder="Votre etage" value="{{ user.floor }}">
                </div>
            </div>
        {# End Row #}

        {# Start Row #}
        <div class="row">
        <div class="form-group">
            <label for="role" class="text-uppercase">Rôle : </label>
            <select class="form-select form-select mb-4" name="role" id="role" aria-label=".form-select">
                    <option value="0"> Choisissez votre rôle:</option>
                    <option value="1" {% if user.role.id == 1 %} selected {% endif %}>RPCA</option>
                    <option value="2" {% if user.role.id == 2 %} selected {% endif %}>Direction</option>
                    <option value="3" {% if user.role.id == 3 %} selected {% endif %}>Manager</option>
                    <option value="4" {% if user.role.id == 4 %} selected {% endif %}>Autre</option>
            </select>
        </div>
        {# End Row #}

        {# Start Row #}
        <div class="row">
            <div class="form-group">
                <label for="directory" class="text-uppercase">Annuaire d'affectation : </label>
                <select class="form-select form-select mb-4" name="directory" id="directory" aria-label=".form-select" required>
                    <option value="0">Choisissez votre annuaire d'affectation :</option>
                    <option value="1" {% if user.directory.id == 1 %} selected {% endif %}>Comité crise</option>
                    <option value="2" {% if user.directory.id == 2 %} selected {% endif %}>Comité élargi</option>
                    <option value="3" {% if user.directory.id == 3 %} selected {% endif %}>Responsable site</option>
                    <option value="4" {% if user.directory.id == 4 %} selected {% endif %}>Numéros importants</option>
                    <option value="5" {% if user.directory.id == 5 %} selected {% endif %}>Non renseigné</option>
            </select>
        </div>
        {# End Row #}

        </div>
            <div class="form-group mb-4">
                    <label class="col-12 text-center text-uppercase" for="role">Votre niveau : </label>
            <div class="text-center">
                
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="grade" id="grade1" value="1" {% if user.grade.id == 1 %} checked {% endif %}>
                        <p class="form-check-label" for="titulary">Titulaire</p>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="grade" id="grade2" value="2" {% if user.grade.id == 2 %} checked {% endif %}>
                        <p class="form-check-label " for="subsitute">Suppléant</p>
                    </div>
            </div>
            </div>

            <div class="mb-4">
                <label for="photo" class="form-label col-12 text-center text-uppercase">Changez votre photo ? <span class="optionnel fst-italic">(Optionnel)</span></label>
                <input type="file" name="photo" id="photo" class="form-control-file file-upload radius-0 text-center col-12" accept="image/* ,application/pdf"/>
            </div>

                    {# Start Row #}
        <div class="row">
        <div class="form-group">
            <label for="organization" class="text-uppercase">Votre Organisme : </label>
            <select class="form-select form-select mb-4" name="organization" id="organization" aria-label=".form-select">
                    <option value="0"> Choisissez votre Organisme:</option>
                    <option value="1" {% if user.organization.id == 1 %} selected {% endif %}>CPAM Haute-Garonne</option>
                    <option value="2" {% if user.organization.id == 2 %} selected {% endif %}>CPAM National</option>


            </select>
        </div>
        {# End Row #}
                <div class="text-center">
                    <button class="mt-2 btn btn-lg btn-outline-secondary text-uppercase" type="submit">Valider les modifications</button>
                </div>
        </form>
        
    </div>
 </div>
</div>
</section>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

                var readURL = function(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.profile-pic').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $(".file-upload").on('change', function(){
                    readURL(this);
                });
                $(".upload-button").on("click", function () {
                $(".file-upload").click();
            });
        });
    </script>
{% endblock %}