{% block stylesheets %}

<style>
.navDirectory{
    color: #78072c;
}

.navDirectory:hover{

    text-decoration: none;
    color: #f00d59 !important;

}

.border-red{
    border-color: #f00d59 !important;
}


</style>

{% endblock %}


<nav class="mx-3 navbar navbar-expand-lg ">
    <div class="d-flex w-100 justify-content-center">

        <div class="list-group list-group-horizontal text-center">
            <a href="{{path('list_directory_controller', {page: 'Accueil-Organisme'}) }}" class="{{ role == 'allorganisme' ? 'border border-red fw-bold' : '' }} bg-transparent navDirectory list-group-item px-3">Utilisateurs de votre organisme</a>
            <a href="{{ path('list_directory_controller', {page: 'Comite-crise-Organisme'}) }}" class="{{ directory == 'ComiteCriseOrganisme' ? 'fw-bold border border-red' : '' }} bg-transparent navDirectory list-group-item px-3">Comité Crise</a>
            <a href="{{ path('list_directory_controller', {page: 'Comite-elargi-Organisme'}) }}" class="{{ directory == 'ComiteElargiOrganisme' ? 'fw-bold border border-red' : '' }} bg-transparent navDirectory list-group-item px-3">Comité Élargi</i></a>
            <a href="{{ path('list_directory_controller', {page: 'Responsable-site-Organisme'}) }}" class="{{ directory == 'ResponsableSiteOrganisme' ? 'fw-bold border border-red' : '' }} bg-transparent navDirectory list-group-item px-3">Responsable Site</a>
            <a href="{{ path('list_directory_controller', {page: 'Numeros-importants-Organisme'}) }}" class="{{ directory == 'NumerosImportantsOrganisme' ? 'fw-bold border border-red' : '' }} bg-transparent navDirectory list-group-item px-3">Numéros Importants</a>              
            <a href="{{ path('list_directory_controller', {page: 'Non-renseigne-Organisme'}) }}" class="{{ directory == 'NonRenseigneOrganisme' ? 'fw-bold border border-red' : '' }} bg-transparent navDirectory list-group-item px-3">Non Renseigné </a>              
        </div>
    </div>  
</nav>
