{% extends 'admin/admin.html.twig' %}

{% block page_title %}Organisme{% endblock %}
{% block page_subtitle %}Vous pouvez consulter votre organisme{% endblock %}
{% block head %}
    <script>
        $(document).ready(function() {

                var readURL = function(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.importcsv').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $(".file-upload").on('change', function(){
                    readURL(this);
                });
                $(".upload-button").on("click", function () {
                $(".file-upload").click();
            });
        });
    </script>
{% endblock %}
{% block page_content %}
    {% import "@AdminLTE/Macros/default.html.twig" as macro %}

    <h2 class="text-center">Importer l'annuaire</h2>
    <h3 class="text-center" style="margin-top: 0px; color: #6c757d;">Vous pouvez uniquement importer l'annuaire en fichier CSV</h3>

    <form method="POST" class="text-center" enctype="multipart/form-data">
    
        <div class="row text-center " style="display:flex; flex-direction: column; justify-content:center; margin-top: 40px;">

            <div class="col-xs-12 col-md-12">
                <label for="importcsv" class="form-label col-12 text-center text-uppercase">Insérez votre fichier CSV</label>
            </div>    

            <div style="margin:auto;">
                <input type="file" name="importcsv" id="importcsv" class="form-control-file file-upload importcsv radius-0 text-center col-12" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
            </div>

        </div>
    
    <button type="submit" class="text-center btn btn-lg btn-info" style="margin-top: 20px;">Importer</button>

    </form>

<section>

<h1 style="margin-top: 30px;">Liste des organismes</h1>
<h2><a href="{{ path('add_admin_organization_controller') }}" class="fs-4 btn btn-success" style="margin-right: 20px;">Ajoutez un organisme<i class="fas fa-plus" style="margin-left:30px;"></a></i></h2>

<table class="table" style="margin-top: 30px;">

  <thead style="background-color: #3c8dbc; color: white;">

    <tr>
        <th scope="col">id</th>
        <th scope="col">Organisme</th>
        <th scope="col">Code Organisme</th>
        <th scope="col">Options</th>
    </tr>

  </thead>
  <tbody>
  {% for organization in organization|sort((a, b) => a.id <=> b.id) %} 
    <tr>
        <th scope="row">{{ organization.id }} </th>
        <td scope="row">{{ organization.name }}</td>
        <td scope="row">{{ organization.coded }}</td>
        <td scope="row"><a href="{{ path('update_admin_organization_controller', {organization: (organization.id)} )}}" class="fs-4 text-info" style="font-size: 1.5em; margin-right: 20px;"><i class="fas fa-pencil-alt"></a></i><a href="{{ path('delete_admin_organization_controller', {organization: (organization.id)} )}}" class="fs-4 text-danger" onclick="return confirm('Voulez-vous vraiment supprimer cet organisme ?')" style="font-size: 1.5em;"><i class="fas fa-trash-alt"></i></a></td>
    </tr>
{% endfor %}
  </tbody>

</table>

</section>
{% endblock %}


